<div class = 'task-module' [ngClass]="inEditMode ? 'task-module-edit' : 'task-module-norm'">
  <div>
    <button class="edit-button">
      <fa-icon [icon]="faEdit" (click)="changeEditMode()"></fa-icon>
    </button>
    <div class="title">
      {{task.title}}
    </div>

    <div class = "chart-cont" id="{{ 'chart-' + this.id }}">
      <canvas  class = "chart"></canvas>
    </div>
  </div>
  <div class="sub-title ">
    {{"Skew: " + task.skew}}
  </div>
  <div class="sub-title ">
    {{"Confidence: " + task.confidence}}
  </div>

  <div class="edit-panel">
    <div class = "edit-title">Edit Panel</div>
    <div>
      <div>
        <div class="sub-title">Skew: </div>
        <mat-slider (change)="skewChanged($event)" thumbLabel="true" step="0.01" min="-0.6" max = "1" value = "{{task.skew}}"></mat-slider>
      </div>
      <div>
        <div class="sub-title">Confidence: </div>
        <mat-slider (change)="confidenceChanged($event)" thumbLabel="true" step="0.01" min="0.1" max = "1" value = "{{task.confidence}}"></mat-slider>
      </div>
    </div>
  </div>
</div>
