.task-module{
  border-bottom: black solid 1px;
  overflow: hidden;
  width:100%;

  -webkit-transition: height 1s;
  -moz-transition: height 1s;
  -ms-transition: height 1s;
  -o-transition: height 1s;
  transition: height 1s;
}
.task-module-norm{
  height: 8rem;
}

.task-module-edit{
  height: 23rem;
}

.title{
  text-decoration: underline;
  float:left;
  margin: 0.5rem;
  font-size: 2rem;
  width: 33%;
  text-overflow: ellipsis;
  overflow: hidden;
}


.sub-title {
  float:left;
  margin-top: 0.5rem;
  font-size: 1rem;
  width: 20%;
}

.chart-cont {
  height: 8rem;
  overflow: hidden;
  margin: 0;
  float: right;
  width: calc(100% - 34% - 4rem)
}

.chart {
  height: 100%;
  float:left;
}

.edit-button{
  width: 2rem;
  height: auto;
  float: right;
  margin: 0.5rem
}

.edit-panel{
  border-top: #555555 dotted 3px;
  float:left;
  width: 100%;
}

.edit-title{
  text-align: center;
  margin: 0.5rem;
}

.radio-button{
  margin: 0.5rem
}
