<div style="width: 50%; margin: auto">
  <h2>Welcome to Task Distribution!</h2>
  <span >
    This is a discrete event simulation written for CS558 - Computer Simulation, a course at SDSU.
    This project looks to aid developers and teams come up with better estimates for groups of tasks.
    When supplied with a list of tasks, this simulation will run a monte carlo simulation and charts the normal outputs,
    this chart aids managers in determining how long a project will likely take and theerfor can make more accurate risk/reward decisions before time is invested into a project

  </span>
</div>
